<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Motor Rent</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>


</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <img src="/static/images/logo.png" width="64" height="64" style="margin-right:10px;" alt="Motor Rent logo">
        <a class="navbar-brand" href="#">Motor Rent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>

    {% if formsubmit %}
    <div class="alert alert-success" role="alert">
        Your message was received, you should recieve a reply within 2-3 business days
    </div>
    {% endif %}

    <div class="row" style="width: 600px; position: absolute; top: 50%; left: 50%; height: 500px; margin: -250px auto auto -300px;">
        <div class="col">
            <form action="/form_submit" method="post">
                <label for="fname">Full Name:</label><br>
                <input type="text" id="fname" name="fname"><br>

                <label for="email">Email Address:</label><br>
                <input type="text" id="email" name="email"><br>

                <label for="message">Message:</label><br>
                <input type="text" id="message" name="message" style="width: 300px; height: 100px"><br>

                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="col">
            <h3>Motor Rent</h3>
            <h4>Address: </h4>
            <p>123 Fake St.</p>
            <p>Sunderland</p>
            <p>SR1 7EH</p>

            <h4>Email Address</h4>
            <p><a href="mailto:support@motorrent.tk">support@motorrent.tk</a></p>

            <h4>Phone Number</h4>
            <p>08005648594</p>
        </div>
    </div>

</body>
</html>