<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ - Motor Rent</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <img src="data:image/png;base64,{{ logoimage }}" width="64" height="64" style="margin-right:10px;" alt="Motor Rent logo">
        <a class="navbar-brand" href="#">Motor Rent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>

    <div class="row" style="width: 600px; position: absolute; top: 50%; left: 50%; height: 300px; margin: -250px auto auto -300px;">
        <h4 style="margin: 0px 0px 0px 0px; height: 40px; text-align: center; width: 600px">Frequently Asked Questions</h4>
        <div class="row" style="height: 250px; margin: 0px 0px 0px 0px">
            <div class="card" style="width: 200px; height: auto;">
              <div class="card-body">
                <h5 class="card-title">How can I book a rent?</h5>
                <p class="card-text">Drop us an email at support@motorrent.tk or visit us in store</p>
              </div>
            </div>

            <div class="card" style="width: 200px; height: auto;">
              <div class="card-body">
                <h5 class="card-title">Can my rented car be delivered to my address?</h5>
                <p class="card-text">We cannot deliver your rented car to your address, you will need to collect it in store</p>
              </div>
            </div>

            <div class="card" style="width: 200px; height: auto;">
              <div class="card-body">
                <h5 class="card-title">Do you offer educational discounts on rentals?</h5>
                <p class="card-text">Yes, we offer a 10% discount for students</p>
              </div>
            </div>
        </div>
    </div>

</body>
</html>