<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motor Rent</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>


</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <img src="/static/images/logo.png" width="64" height="64" style="margin-right:10px;" alt="Motor Rent logo">
        <a class="navbar-brand" href="#">Motor Rent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>

    <div class="row" style="width: 1200px; position: absolute; top: 50%; left: 50%; height: 500px; margin: -250px auto auto -600px;">
        <div class="col">
            <p>Motor Rent has been an established car hire firm in Sunderland for the last 10 years. When Andy started hiring out cars he only had a few second hand cars, but now the business has expanded to a fleet of 40 cars. Cars range from small 3 door vehicles to large 7 seat people carriers with a selection of automatic and cars with air-conditioning and navigation systems.</p>
        </div>
        <div class="col">
            <img src="/static/images/car.png" alt="Image of a car" width="599px" height="375x">
        </div>
    </div>

</body>
</html>